<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/layout">
<body>

	<section layout:fragment="content">
		<div class="row">
			<label class="control-label col-md-1">Location</label>
			<div class="col-md-4">
				<select class="form-control" id="dc">
					<option th:each="location : ${locations}" th:value="${location}" th:text="${location.name}">Bangalore</option>
				</select>
			</div>
			<label class="control-label col-md-2">Food Court</label>
			<div class="col-md-4">
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
		</div>
		<br />
		<div class="row">
			<label class="control-label col-md-1">Vendor</label>
			<div class="col-md-4">
				<select class="form-control" id="dc">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="container">
				<div class="tabbable full-width-tabs">
					<ul class="nav nav-tabs">
						<li class="active fill-width"><a href="#breakfast"><span
								class="glyphicon glyphicon-cutlery"></span> Breakfast</a></li>
						<li class="fill-width"><a href="#"><span
								class="glyphicon glyphicon-cutlery"></span> Lunch</a></li>
						<li class="fill-width"><a href="#"><span
								class="glyphicon glyphicon-cutlery"></span> Snacks</a></li>
						<li class="fill-width"><a href="#"><span
								class="glyphicon glyphicon-cutlery"></span> Dinner</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="breakfast">
							<!-- Space -->
							<br />
							<div class="panel-group" id="accordion">
								<div class="panel panel-info"
									th:if="!${#lists.isEmpty(itemType)}"
									th:each="itemType : ${itemTypes}">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion"
												href="#collapseOne"
												th:href="${'#' + #strings.replace(itemType.name,' ','_')}"
												th:text="${itemType.name}">North Indian</a>
										</h4>
									</div>
									<div id="collapseOne"
										th:attr="id=${#strings.replace(itemType.name,' ','_')}"
										class="panel-collapse collapse">
										<div class="panel-body">
											<table class="table">
												<tr>
													<td><h4>Item</h4></td>
													<td colspan="2"><h4>Price</h4></td>
												</tr>
												<th:block th:each="item : ${items}">
													<tr th:if="${item.itemType.name} eq ${itemType.name}">
														<td th:text="${item.name}">Name</td>
														<td colspan="2" th:text="${item.price}">Price</td>
													</tr>
												</th:block>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- @end #breakfast -->
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>