<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="../../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../../../css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <title>Infosys | Food Court</title>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
</head><!--/head-->
<body>
    <header id="header" class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"><img src="../../../images/infosys_logo.png" th:src="@{/images/infosys_logo.png}" alt="logo" height="40px"/></a>
			</div>
		</div>
	</header>

    <section id="content" class="content">
    	<div class="container" layout:fragment="content">
			<!-- include here the content of the current page visited by the user -->
		</div>
    </section>

    <footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</footer>
	
	<script src="../../../js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../../js/user.js" th:src="@{/js/user.js}"></script>
</body>
</html>